$rob: Roboto-Regular
$rob_medium: Roboto-Medium
$rob_bold: Roboto-Bold
$mus: MuseoSansCyrl

$full_path: '/fonts/'
$title_color: #333
$light-green: #aac770
// Connects font
=font_include($name,$folder,$name_url)
	@font-face
		font-family: quote($name)
		font-display: swap
		src: url(#{$full_path}#{$folder}/#{$name_url}.woff2) format('woff2'),
		url(#{$full_path}#{$folder}/#{$name_url}.woff) format('woff'),
		url(#{$full_path}#{$folder}/#{$name_url}.ttf ) format('truetype')
