
/* Media picker - Hide empty placeholder */
.dd-empty{
    display: none;
}

/* Used in vendor/voyager/formfields/multiple_checkbox.blade.php */
.admin_input_container{
    padding-right: 5px;
    padding-left: 5px;
    width: calc(25% - 3px);
    display: inline-block;
    box-sizing: border-box;
}

.language-selector{
    position: fixed;
    right: 12px;
    top: 28px;
    z-index: 10;
}

ul#files{
    max-height: 300px !important;
    overflow-y: scroll !important;
}